@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;
}
.toTop{
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: 0;
}
.toTopLi{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: relative;
}
.scroll-to-top{
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0;
}
.modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -5;
    background-color: rgba(96, 94, 94, 0.399);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s linear;
    display: none;
}
.modal.active{
    opacity: 1;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    display: fixed;
}
.modalCard{
    width: min-content;
    height: min-content;
    padding: 40px;
    background-color: white;
    position: relative;
}
.closemodal{
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    padding:5px 10px;
    background-color: red;
}

:root {
    --bg: linear-gradient(101.56deg, #1b1919 1.56%, #221f1f 95.55%);
    --bg2: linear-gradient(101.56deg, #2C2C2C 1.56%, #1C1C1C 95.55%);
    --kok: #00C4F0;
    --kulrang: #9d9b9b;
    --oq: #E4E4E4;
    --bgcrd: #2A2A2A;
}

.App {
    background: var(--bg);
}

.burger {
    display: none;
}

nav {
    width: 100%;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    width: 80%;
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    color: var(--kulrang);
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    position: relative;
}

nav a:hover {
    color: var(--oq);
}

nav a.active {
    color: var(--oq);
}

nav a::after {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    width: 10px;
    height: 10px;
    background-color: orange;
    box-shadow: 0 0 10px orange;
    border-radius: 50%;
}

nav a::before {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%) scale(0);
    content: '';
    width: 100%;
    height: 1px;
    background-color: orange;
    box-shadow: 0 0 10px orange;
    border-radius: 50%;
    transition: all .2s linear;
}

nav a:hover:before {
    transform: translateX(-50%) scale(1);
}

nav a.active:before {
    transform: translateX(-50%) scale(1);
}

.nav_logo::after,
.nav_logo::before {
    display: none;
}

.nav_logo img {
    width: 100px;
    height: 70px;
}


/* /////////////home//\\\\\\\\\\\\\\/////////////////////// */
.Home {
    background: var(--bg2);
    padding: 100px;
}

.homePge1 {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding: 50px 0;
}

.homeTitle {
    width: 100%;
    height: 100%;
}

.homeTitle h4 {
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    display: flex;
    align-items: center;
    color: var(--oq);
}

.titleh2,.title{
    font-weight: 700;
    font-size: 72px;
    line-height: 82px;
    display: flex;
    align-items: center;
    display: flex;
    align-items: flex-end;
    position: relative;
    text-shadow: 0 0 5px #646464;
}
.titleh2::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: 'Salom!_Men...';
    animation: titleh2 2s linear;
    color:#111;
    -webkit-text-stroke:1px #00C4F0;
    text-shadow: 0 0 10px #00C4F0;
    overflow: hidden;
}
@keyframes titleh2{
    0%{width:0%}
    1%{width:0%;
       border-right:3px solid #00c4F0 
    }
    60%{border-right:3px solid #00c4F0 }
    100%{width: 100%;}
}
.title2h2 {
    font-weight: 700;
    font-size: 72px;
    line-height: 82px;
    display: flex;
    align-items: center;
    color: #111;
    position: relative;
    text-shadow: 0 0 5px #646464;
}
.title2h2::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    content: 'TursunovDoniyorbek ';
    animation: title2h2 2s linear;
    animation-delay: 1.5s;
    color:#111;
    -webkit-text-stroke:1px #00C4F0;
    text-shadow: 0 0 10px #00C4F0;
    overflow: hidden;
}
@keyframes title2h2{
    0%{width:0%}
    1%{width:0%;
       border-right:3px solid #00c4F0 
    }
    60%{border-right:3px solid #00c4F0 }
    100%{width: 100%;}
}
.homeTitle p {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: var(--kulrang);
}

.btnContactme {
    padding: 10px 25px;
    background: linear-gradient(87.32deg, #E2A300 4.47%, #E29500 95.53%);
    box-shadow: 0px 2px 13px rgba(226, 158, 0, 0.48);
    border-radius: 6px;
    color: #1b1919;
    font-weight: 500;
    margin-top: 20px;
    transition: all 0.2s linear;
}

.btnContactme:hover {
    padding: 10px 25px;
    background: linear-gradient(87.32deg, #a47703 4.47%, #815705 95.53%);
    box-shadow: 0px 2px 13px rgba(226, 158, 0, 0.48);
    border-radius: 6px;
    color: #fff;
    font-weight: 500;
}

.homeTitleImg {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.homeTitleImg img {
    width: 100%;
    height: 100%;
}

.anticon svg {
    color: orange !important;
}
/* ///////////////////////// */
.titleText{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #111;
    font-family: 'Bad Script';
    font-size: 8em;
    font-weight: 800;
}
.titleText span{
    animation: textA 5s linear infinite;
}
@keyframes textA {
    0% ,100%{
        color: #FFF;
        filter: blur(2px);
        text-shadow: 0 0 10px #00C4F0,
        0 0 30px #00C4F0,
        0 0 50px #00C4F0,
        0 0 80px #00C4F0,
        0 0 100px #00C4F0,
        0 0 150px #00C4F0;
    }
    5%,95%{
        color: #111;
        filter: blur(0px);
        text-shadow: none;
    }
}
.titleText span:nth-child(1){
    animation-delay: 0.5s;
}
.titleText span:nth-child(2){
    animation-delay: 1s;
}
.titleText span:nth-child(3){
    animation-delay: 1.5s;
}
.titleText span:nth-child(4){
    animation-delay: 2s;
}
.titleText span:nth-child(5){
    animation-delay: 2.5s;
}
.titleText span:nth-child(6){
    animation-delay: 3s;
}
.titleText span:nth-child(7){
    animation-delay: 3.5s;
}
.titleText span:nth-child(8){
    animation-delay: 4s;
}
.titleText span:nth-child(9){
    animation-delay: 4.5s;
}
.titleText span:nth-child(10){
    animation-delay: 5s;
}
/* ///////////////////////// */
.homePage2 {
    width: 100%;
    height: auto;
    gap: 10px;
    padding: 40px 0;
}
.hom2cardss{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 10px;
    padding: 40px 0;
}
.homCard {
    width: 100%;
    height: 100%;
    background: var(--bg2);
    border-radius: 7px;
    padding: 15px;
    text-align: center;
    cursor: pointer;
}

.homCard img {
    width: 70px;
}

.homCard p {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: var(--kulrang);
    margin-top: 5px;
}

.homePage3 {
    width: 100%;
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardmaxM {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    position: relative;
    box-shadow: #000000 5px 5px 50px -5px;
}

.cardmax {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    animation: cardmax 17s linear infinite;
}

@keyframes cardmax {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.cardmin {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.cardmin img {
    width: 50px;
    height: 50px;
}

.cardmin1 {
    position: absolute;
    top: -35px;
    left: 40px;
    transform: rotate(-28deg);
}

.cardmin2 {
    position: absolute;
    top: 120px;
    left: -65px;
    transform: rotate(-85deg);
}

.cardmin3 {
    position: absolute;
    top: 80%;
    left: -25px;
    transform: rotate(-125deg);
}

.cardmin4 {
    position: absolute;
    bottom: -65px;
    left: 35%;
    transform: rotate(-170deg);
}

.cardmin5 {
    position: absolute;
    bottom: -15px;
    right: 10px;
    transform: rotate(135deg);
}

.cardmin6 {
    position: absolute;
    top: 55%;
    right: -60px;
    transform: rotate(100deg);
}

.cardmin7 {
    position: absolute;
    top: 50px;
    right: -35px;
    transform: rotate(60deg);
}

.cardmin8 {
    position: absolute;
    top: -45px;
    right: 65px;
    transform: rotate(20deg);
}

.cardimg {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.cardimg img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.homePage4 {
    padding: 50px 0;
}

.homePage4 p {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    font-style: italic;
    letter-spacing: 0.01em;
    color: var(--oq);
    height: 0px;
    overflow: hidden;
    transition: all 0.3s linear;
}
.homePage4 p.active {
    height: min-content;
}
.textBtn{
    padding: 10px 25px;
    background-color: var(--kulrang);
    border-radius: 10px;
    color: var(--oq);
    opacity: 0.8;
    transition: all 0.3s linear;
}
.textBtn:hover{
    padding: 10px 25px;
    background-color: var(--kulrang);
    border-radius: 10px;
    color: var(--oq);
    opacity: 1;
}
.homePage5{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 50% 50%;
}
.gitIcon svg{
    width: 50px;
    height: 50px;
    color: black !important;
}
.gitIcon{
    width: 50px;
    height: 50px;
    position: relative;
}
.gitIcon::after{
    position: absolute;
    bottom: -10px;
    left: 0;
    content: "";
    width: 100%;
    height: 5%;
    background-color: rgba(0, 0, 0, 0.367);
    transition: all 0.5s linear;
}
.gitIcon:hover:after{
    bottom:50px;
}
.instaIcon svg{
    width: 50px;
    height: 50px;
    color: rgb(196, 26, 219) !important;
}
.instaIcon{
    width: 50px;
    height: 50px;
    position: relative;
}
.instaIcon::after{
    position: absolute;
    bottom: -10px;
    left: 0;
    content: "";
    width: 100%;
    height: 5%;
    background-color: rgb(196, 26, 219) ;
    transition: all 0.5s linear;
}
.instaIcon:hover:after{
    bottom:50px;
}
.telegramIcon svg{
    width: 50px;
    height: 50px;
    color: rgb(21, 152, 229) !important;
}
.telegramIcon{
    width: 50px;
    height: 50px;
    position: relative;
}
.telegramIcon::after{
    position: absolute;
    bottom: -10px;
    left: 0;
    content: "";
    width: 100%;
    height: 5%;
    background-color: rgb(21, 152, 229);
    transition: all 0.5s linear;
}
.telegramIcon:hover:after{
    bottom:50px;
}
.watsapIcon svg{
    width: 50px;
    height: 50px;
    color: rgb(3, 136, 32) !important;
}
.watsapIcon{
    width: 50px;
    height: 50px;
    position: relative;
}
.watsapIcon::after{
    position: absolute;
    bottom: -10px;
    left: 0;
    content: "";
    width: 100%;
    height: 5%;
    background-color: rgb(3, 136, 32);
    transition: all 0.5s linear;
}
.watsapIcon:hover:after{
    bottom:50px;
}
.imgCard{
    border: 1px solid rgb(81, 80, 80);
    width: 100%;
    height: auto;
    border-radius: 10px;
    padding: 2px;
    position: relative;
    margin: 30px 0;
}
.socialCard{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    transform: scale(0);
    background: #4e50506f;
    transition: all 0.4s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}
.imgCard:hover .socialCard{
    content: ' ';
    color: white;
    transform: scale(1);
    opacity: 1;
}
.socialGroup{
    display: flex;
    align-items: center;
    gap: 15px;
}
.socialGroup a{
    color: var(--oq);
    font-size: 25px;
}
.socialGroup a:hover{
    color: rgb(209, 203, 203);
    font-size: 25px;
}
.imgtitle {
    padding: 20px;
    margin: 30px 0;
}
.imgtitle p{
    padding: 0px;
    color: rgb(96, 94, 94);
    font-size:x-large;
    height: 0px;
    overflow: hidden;
}
.imgtitle p.active{
    padding: 20px 10px;
    height: min-content;
}
.imgCard img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.homePage6{
    width: 100%;
    height: auto;
    background-color: var(--bg);
    padding: 70px 0;
    margin: 50px 0;
}
.homePage6Cards{
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 15px;
}
.portfolyoCard{
    width: 100%;
    height: 200px;
    background-color: var(--bgcrd);
    padding: 10px;
    margin: 20px 0;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid rgb(99, 99, 99);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s linear;
}
.portfolyoCard:hover{
    box-shadow: 2px 10px 10px black;
    transform: translateX(-5px) translateY(-5px);
}
.carDimg{
    position: absolute;
    top: auto;
    left: auto;
    width: 98%;
    height: 98%;
    z-index: 1;
}
.carDimg img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.portfolyoCard::after{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #00C4F0;
    content: '';
}
.cardBtn{
    position: absolute;
    bottom: 2px;
    left: auto;
    width: 98%;
    height: 30%;
    border-radius: 10px;
    background-color: #464b4ca8;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.linkbtn{
    padding: 5px 15px;
    background-color: #4a595d;
    border-radius: 5px;
    border: 1px solid grey;
    color: var(--kulrang);
    transition: all 0.2s linear;
}
.linkbtn:hover{
    color: var(--oq);
}
.imgbtn{
    padding: 5px 15px;
    background-color: #00C4F0;
    border-radius: 5px;
    border: 1px solid grey;
    color: grey;
    transition: all 0.2s linear;
}
.imgbtn:hover{
    color: var(--oq);
}
.portFolyotext{
    color: white;
}










/* ///////////Footer///////////////// */
.footer {
    width: 100%;
    height: auto;
    padding: 40px 0;
    background-color: var(--bg);
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.footer a,
.footer p {
    font-weight: 300;
    font-size: 18px;
    display: flex;
    align-items: center;
    color: var(--kulrang);
}

.footer a {
    margin-top: 10px;
}

.footer a:hover,
.footer p:hover {
    color: var(--oq);
}

.footerlogo {
    display: flex;
    gap: 15px;
}

.footerlogo img {
    width: 60px;
    height: 60px;
}
















@media(max-width:420px) {
    .ant-modal-body>div {
        width: 300px !important;
    }

    .burger {
        display: inline-block;
        background-color: transparent;
        border: none;
        color: var(--oq);
    }

    .burger svg {
        color: var(--oq);
        width: 50px;
        height: 40px;
    }

    nav ul {
        width: 100%;
        flex-direction: column;
        position: absolute;
        top: 100px;
        left: 0;
        gap: 20px;
        overflow: hidden;
        height: 0;
        transition: all 0.3s linear;
    }

    nav ul.active {
        width: 100%;
        height: auto;
        flex-direction: column;
        position: absolute;
        top: 100px;
        left: 0;
        gap: 20px;
        padding: 25px;
    }

    .homePge1 {
        grid-template-columns: repeat(1, auto);
        padding: 10px;
    }

    .hom2cardss {
        grid-template-columns: repeat(1, auto);
    }
    .titleText{
        font-size: 4em;
    }
    .footer {
        grid-template-columns: repeat(1, auto);
        gap: 25px;
    }

    .footerlogo {
        display: flex;
        gap: 15px;
        align-items: center;
        justify-content: space-around;
    }

    .homeTitle h4 {
        font-size: 28px;
    }

    .homeTitle h2 {
        font-size: 32px;
        line-height: 40px;
    }

    .homeTitle p {
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
        color: var(--kulrang);
    }

    .cardmaxM {
        width: 210px;
        height: 210px;
        border-radius: 50%;
        position: relative;
        box-shadow: #000000 5px 5px 50px -5px;
    }

    .cardmax {
        width: 220px;
        height: 220px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        animation: cardmax 17s linear infinite;
    }

    .cardimg {
        width: 100%;
        height: 100%;
    }

    .cardmin {
        width: 50px;
        height: 50px;
        cursor: pointer;
    }

    .cardmin img {
        width: 50px;
        height: 50px;
    }

    .cardmin1 {
        position: absolute;
        top: -30px;
        left: -10px;
        transform: rotate(-38deg);
    }

    .cardmin2 {
        position: absolute;
        top: 70px;
        left: -62px;
        transform: rotate(-85deg);
    }

    .cardmin3 {
        position: absolute;
        top: 80%;
        left: -25px;
        transform: rotate(-125deg);
    }

    .cardmin4 {
        position: absolute;
        bottom: -55px;
        left: 35%;
        transform: rotate(-180deg);
    }

    .cardmin5 {
        position: absolute;
        bottom: -20px;
        right: 0px;
        transform: rotate(135deg);
    }

    .cardmin6 {
        position: absolute;
        top: 55%;
        right: -45px;
        transform: rotate(100deg);
    }

    .cardmin7 {
        position: absolute;
        top: 20px;
        right: -40px;
        transform: rotate(60deg);
    }

    .cardmin8 {
        position: absolute;
        top: -55px;
        right: 60px;
        transform: rotate(15deg);
    }

    .homePage4 {
        padding: 50px 10px;
    }

    .pCard {
        height: 60px;
        overflow: hidden;
        background-color: #9d9b9b72;
        border-radius: 10px;
        padding: 15px;
        position: relative;
        border: 1px solid yellow;
    }
    
    .pCard.active {
        height: min-content;
    }
    .homePage5{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 100%;
    }
    .homePage6Cards{
        display: grid;
        grid-template-columns: repeat(1,auto);
        gap: 15px;
        padding: 0 20px;
    }
    .modalCard{
        padding: 0;
    }
    .modalPlay{
        width: 380px   !important;
    }





}